@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Lexend:wght@400;500;600;700&family=Poppins&display=swap");

:root {
  --primary: #dd0046;
  --text: #000000;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: scroll;
}

.logo-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-cont {
  position: fixed;
  width: 100%;
  background-color: white;
}
.side-cont {
  width: 60%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  border-radius: 0px 16px 16px 0px;
  padding: 60px 0px 0px 24px;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.open {
  display: none;
}
.close {
  display: block;
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
a {
  color: var(--text);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
}

.nav-list li {
  cursor: pointer;
  display: flex;
  padding: 15px 4px 14px 0px;
}
.nav-list span {
  width: 20px;
  height: 20px;
}
.nav-list li a {
  margin-left: 14px;
  margin-top: 4px;
}
#login a {
  color: #dd0046;
}
#login span {
  color: #dd0046;
}
.nav-list li a .active {
  color: #dd0046;
}
.background {
  background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 /0.8));
}
.container {
  max-width: 1110px;
  padding-top: 4.6rem;
  padding-left: 2rem;
}
.container p {
  font-size: 16px;
  font-weight: 500;
}
.even-columns {
  display: grid;
}
.btn-home {
  margin-top: 16px;
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 500;
  background-color: #dd0046;
  border: none;
  padding: 20px 50px;
  border-radius: 90px;
}

.loading-spinner-container {
  display: flex;
  position: relative;
  top: 3%;
  left: 30%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #dd0046;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
li {
  list-style-type: none;
}

.quiz-cont {
  position: relative;
  left: 2%;
}
.quiz-cont p {
  font-size: 26px;
  font-weight: 700;
}
.quiz-cont .score {
  font-size: 19px;
  font-weight: 600;
  margin-left: 18%;
}
.quiz-cont span {
  font-size: 16px;
  font-weight: 700;
}
#quiz-li {
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin-top: 1em;
  background-color: #dd0046;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;

  width: 80%;

  color: #fff;
  font-size: 17px;
}

#quiz-li.correct {
  background-color: rgb(53, 212, 53);
}

#quiz-li.selected:not(correct) {
  background-color: rgb(206, 58, 58);
}
.settings {
  margin-left: 9%;
}
.settings h2 {
  font-size: 20px;
}
.input-no {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 16px;
  color: #222;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 87%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  margin-top: 1em;
  border: 2px solid #222;
  border-radius: 22px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}
.select-cat {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 16px;
  color: #222;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 87%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  margin-top: 1em;
  border: 2px solid #222;
  border-radius: 22px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.fetch-btn {
  background-color: #dd0046;
  cursor: pointer;
}

.settings-btn {
  margin-top: 23px;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 500;
  background-color: #dd0046;
  border: none;
  padding: 18px 20px;
  border-radius: 13px;
}

.final-cont {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}
.final-cont h3 {
  font-weight: 600;
  font-size: 22px;
}
.final-cont button {
  padding: 18px;
  margin-top: 1em;
  width: 66%;
  border: 1px;
  border-radius: 12px;
  background-color: #dd0046;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */

  z-index: 999; /* Ensure it appears above other content */
}
/* .popup{
  
  
  box-shadow: 0 0 10px black ;
  box-sizing: border-box;
 
 padding-top: 20px;
  margin-left: 23px;
  width: 40%;
  height: 40%;
  top: 0;
  position: absolute;
  z-index: 1000;
} */
.popup {
  border-radius: 5px;
  position: absolute;
  top: 29%;
  box-sizing: border-box;
  height: 55%;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000; /* Ensure the popup appears on top of the overlay */
}
.file-name-input {
  width: 80%;

  font-size: 16px;
  color: #222;
  line-height: 1.3;
  padding: 13px;
  border-radius: 22px;

  border: 1px solid black;
  margin-bottom: 26px;
}

.file-input {
  width: 80%;
  font-size: 16px;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin-bottom: 26px;
}
.add-new {
  margin-top: 23px;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(116, 116, 136);
  border: none;
  padding: 18px 20px;
  border-radius: 13px;
  cursor: pointer;
}
.file-header {
  padding: 17px;
  background-color: #222;
  color: white;
  width: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 14px;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 500;
}
.add-file {
  margin-top: 13px;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 500;
  background-color: #dd0046;
  border: none;
  padding: 18px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.popopen {
  display: block;
}
.popclose {
  display: none;
}
/* .files{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 6px;
} */
.file {
  color: white;
  font-size: 13px;

  border-radius: 50px;
  background: #dd0046;
  box-shadow: inset 20px 20px 60px #bc003c, inset -20px -20px 60px #fe0051;
  border-radius: 12px;
  padding: 12px;
  width: 180px;
  height: 60px;
  margin-top: 4px;
  text-overflow: ellipsis;
}

.file-sub-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 16px;
}
.download-btn {
  border: none;
  color: black;
  background-color: #fff;
  border-radius: 30%;
  font-size: 10px;
  cursor: pointer;
}
.file-cat {
  cursor: pointer;
  border-radius: 22px;
  line-height: 1.3;
  padding: 0.6em 1.4em 1em 0.8em;
  width: 90%;
  font-size: 16px;
  border: solid #000000 2px;
  margin-bottom: 24px;
}
/* Desktop sizing */
@media (min-width: 60em) {
  .popup {
    height: 50%;
    top: 26%;
    width: 45%;
    left: 50%;
  }

  .home-text {
    font-size: 44px;
  }
  .container {
    max-width: 1110px;

    padding-left: 2rem;
    margin-left: 27%;
  }
  .nav-cont {
    position: fixed;
  }
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .hamburger-menu {
    display: none;
  }
  .user-welcome {
    display: none;
  }

  .side-cont {
    top: 84px;

    width: 270px;
    background-color: #dd0046;
    background-image: url("./images/nav-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
  }

  .loading-spinner-container {
    top: 21%;
    left: 24%;
  }
  .nav-list span {
    width: 20px;
    height: 20px;
    color: #fff;
  }
  #login a {
    color: #fff;
  }
  #login span {
    color: #fff;
  }

  .nav-list a {
    color: #fdfdfd;
    font-size: 500;
  }
  .input-no {
    width: 70%;
  }
  .select-cat {
    width: 70%;
  }

  .quiz-cont {
    left: 14%;
  }
  #quiz-li {
    width: 60%;
  }

  .final-cont {
    margin-left: 26%;
  }

  .final-cont button {
    width: 53%;
  }
}
